* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  /* background-color: rgb(189, 178, 161); */
}
h1 {
  border: 5px solid #9a9090;
  text-align: center;
  padding: 10px;
  color: #272220;
}
